/* GENERAL */

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f8f8f8;
  color: #343a40;
}

p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

strong {
  font-weight: bold;
  color: #1864ab;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

hr {
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 4rem;
  border: 1px dashed rgba(52, 58, 64, 0.2);
}

.container {
  padding: 3.2rem;
  margin: 6.4rem auto;
  max-width: 96rem;
}

.text-center {
  text-align: center;
}

/* LIGHTBOX */
#lightbox {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 99;
}

.lightbox-active {
  display: block !important;
}

/* LINKS & BUTTONS */

.hover-tile {
  cursor: pointer;
  position: relative;
  top: 0;
  transition: all 0.3s;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.hover-tile:hover {
  top: -0.3rem;
  transition: all 0.3s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a:link,
a:visited {
  color: rgba(248, 248, 248, 0.8);
}

a:hover,
a:active {
  cursor: pointer;
  color: #f8f8f8;
}

.project-text a:link,
.project-text a:visited {
  color: currentColor;
  border-bottom: 1px dashed;
  transition: all 0.5s;
}

.project-text a:hover,
.project-text a:active {
  cursor: pointer;
  color: currentColor;
  border-bottom: 1px dashed transparent;
  transition: all 0.5s;
}

.btn:link,
.btn:visited {
  display: flex;
  font-size: 1.2rem;
  border: 1px solid rgba(248, 248, 248, 0.8);
  padding: 1rem 2rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  gap: 1rem;
  align-items: center;
}

.btn:hover,
.btn:active {
  border: 1px solid rgba(248, 248, 248, 1);
}

.btn--scroll:link,
.btn--scroll:visited {
  border: none;
  display: flex;
  flex-direction: column;
}

/* HERO */

.section-hero {
  padding: 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(rgba(255, 63, 63, 0.3), rgba(84, 54, 255, 0.3)),
    url(../img/splash.jpg);
  background-position-y: bottom;
  object-fit: cover;
  background-size: cover;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
}

.header-content {
  display: flex;
  flex-direction: column;
  max-width: 64rem;
  color: #f8f8f8;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4rem 6rem;
  border-radius: 10px;
}

.section-hero h1 {
  font-size: 6.4rem;
  margin-bottom: 2rem;
  font-weight: bolder;
}

.section-hero h2 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.section-hero p {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f8f8f8;
}

.social-links {
  display: flex;
  gap: 0.4rem;
  list-style: none;
  gap: 1rem;
}

.social-links i {
  font-size: 2.4rem;
}

.social-links a:link,
.social-links a:visited {
  display: inline-block;
  position: relative;
  top: 0;
  transition: all 0.3s;
}

.social-links a:hover,
.social-links a:active {
  top: -0.4rem;
}

.resume-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.resume-container i {
  font-size: 1.8rem;
  opacity: 0.8;
}

.scroll-prompt {
  position: absolute;
  bottom: 4rem;
  margin: 0 auto;
}

/* ABOUT ME */

.intro-image {
  display: flex;
  justify-content: center;
  margin: 12rem 0 8rem 0;
}

.intro-image img {
  width: 16rem;
  height: 16rem;
  padding: 0.4rem;
  border: 1px dashed #1864ab;
  border-radius: 50%;
}

.intro-content h2 {
  margin-bottom: 4rem;
}

.intro-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.intro-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 3rem;

  border-radius: 10px;
  border: 1px solid #1864ab;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.intro-card p {
  margin-bottom: 0;
}

.intro-card i {
  position: relative;
  font-size: 4rem;
  color: #1864ab;
  margin-bottom: 1.6rem;
}

/* SKILLS */

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 4rem;
}

.badge {
  display: inline-block;
  font-size: 1.8rem;
  align-items: center;
  background-color: rgb(24, 100, 171, 0.1);
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
}

.skill-badge p {
  margin-bottom: 0;
}

/* UDEMY CERTIFICATES */

.udemy-certificates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.udemy-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  height: 100%;
}

.udemy-certificate p {
  width: 100%;
  margin: 0;
}

.cert-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.2rem;
  height: 6rem;
}

.cert-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #343a40;
}

.cert-date {
  color: rgba(52, 58, 64, 0.6);
  margin-bottom: 0;
  text-align: center;
  font-size: 1.2rem;
}

.udemy-certificate img {
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0.4;
}

/* PROJECTS */

.project-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.project-card {
  aspect-ratio: 1;
  border: 10px solid white;
  overflow: hidden;
  background-color: #f8f8f8;
}

.project-card--big {
  grid-column: span 2;
  grid-row: span 2;
}

.project-card > img {
  width: 100%;
  height: 100%;
  opacity: 0.95;
  object-fit: cover;
  object-position: center;

  transition: all 0.3s;
}

.project-card:hover > img {
  opacity: 1;

  transition: all 0.3s;
}

.project-card:nth-child(odd) img {
  order: 2;
}

.project-text {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  padding: 2rem;

  /* Grow to fill the parent */
  flex: 1;
}

.project-text h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1.8rem;
}

/* PROJECTS - TAGS */

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  display: none;
}

.tag-container a:link,
.tag-container a:visited {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #f8f8f8;
  background-color: rgba(24, 100, 171, 0.8);
  padding: 0.8rem 1.6rem;
  align-items: center;
  border-radius: 100px;
}

.tag-container a:hover,
.tag-container a:active {
  background-color: rgba(24, 100, 171, 1);
}

.tag-container a::before {
  content: url(../svg-icons/tag.svg);
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.4rem;
}

/* FOOTER */

footer {
  background-color: #343a40;
}

.section-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(248, 248, 248, 0.6);
  font-size: 1.6rem;
  padding: 6rem;
}

.section-footer .social-links {
  margin-bottom: 0.8rem;
}

.section-footer p {
  margin: 0;
}
